:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-light-purple: #df78ef;
  --color-dark-purple: #790e8b;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #dbb807;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-backblack: #21211e;
  --color-orange: #f57f17;
}
