.login_page {
  margin-top: 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Flex 박스로 center 로 옮길수있지만
p and h1 은 text-align 으로 center 로 옮길수있다 */

.login_page__title {
  font-size: 25px;
  margin-bottom: 40px;
}

.login_page__description {
  width: 50%;
  opacity: 0.7;
  margin-bottom: 80px;
}

.login_page__loginForm {
  display: flex;
  flex-direction: column;
  margin: 0px 50px;
}
.login_page__loginForm input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
}
.login_page__loginForm input:not([type='submit']) {
  transition: border-color 0.3s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}
/* input:not([type='submit'}) */
/* 4개의 input 중에서 type이 submit 이 아닌것들만, */

.login_page__loginForm input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.login_page__loginForm input:focus {
  border-color: var(--color-orange);
}

.login_page__loginForm input[type='submit'] {
  background-color: var(--color-orange);
  color: var(--color-light-white);
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
}

.login_page__loginForm a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
  margin-top: 20px;
}
